<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/basscss.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/jquery.dynatable.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/ionicons.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/video-js.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/videojs-overlay.css"/>
    <title><%= title %></title>
    <style type="text/css">
        .container div {
            padding: 5px;
        }

        .hidden {
            display: none;
        }

        .result-table {
            height: 450px;
        }

        video {
            float: right;
        }

        .icon, .selectfile {
            cursor: pointer;
        }

        .collection-results {
            height: 99%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="clearfix mb2 white bg-gray">
    <div class="left">
        <a href="#!" data-role="selectSection" data-section="home" class="button py2 m0 button">Home</a>
        <a href="#!" data-role="selectSection" data-section="browse"
           class="button button-narrow py2 m0 button button-transparent">Browse</a>
        <a href="#!" data-role="selectSection" data-section="collection"
           class="button button-narrow py2 m0 button-transparent">Collection</a>
    </div>
    <div class="clearfix sm-hide"></div>
    <div class="overflow-hidden px2 py1">
        <input type="text" data-role="search-top" class="mb0 mr2 fit field-dark" placeholder="Search">
    </div>

    <!--
    Filename: <span data-role="meta-filename" class="meta-field"></span>
    Title: <span data-role="meta-title" class="meta-field"></span>
    Artist: <span data-role="meta-artist" class="meta-field"></span>
    Album: <span data-role="meta-album" class="meta-field"></span>
    -->

    <video id="mainVideo" class="video-js vjs-default-skin" controls
           data-setup='{"controls":true, "width" : "100%", "height": "75"}'>
    </video>

</div>
<div class="container" data-role="pane" data-pane="home">
    <header class="center px3 py4 white bg-gray bg-cover bg-center"
            style="background-image: url(/images/piglet.jpg)">
        <h1 class="h1 h0-responsive caps mt4 mb0 regular">Piglet</h1>

        <p class="h3">Media - Easy</p>
    </header>

</div>
<div class="container">
    <div class="clearfix">
        <div class="sm-col sm-col-4 hidden" id="testW" data-role="pane" data-pane="browse">

            <table id="mediaTable" class="table-light">
                <thead>
                <tr>
                    <th>Folder</th>
                </tr>
                </thead>
                <tbody>
            </table>
        </div>
        <div class="sm-col sm-col-5 hidden" data-role="pane" data-pane="browse">
            <table id="fileTable" class="table-light">
                <thead>
                <tr>
                    <th>File</th>
                    <th>Playlist</th>
                </tr>
                </thead>
                <tbody>
            </table>
        </div>
        <div class="sm-col sm-col-9 hidden" data-role="pane" data-pane="collection">
            <div class="inline-block clearfix">
                <button type="button" data-role="collection-section" data-collection-section="files"
                        class="left button x-group-item rounded-left">Files
                </button>
                <button type="button" data-role="collection-section" data-collection-section="albums"
                        class="left button-outline x-group-item not-rounded">Albums <span
                        data-role="total-album"></span></button>
                <button type="button" data-role="collection-section" data-collection-section="artists"
                        class="left button-outline x-group-item rounded-right">Artists <span
                        data-role="total-artist"></span></button>
            </div>
            <div data-role="collection-results" class="collection-results">


                <div class="result-table">
                    <table data-role="files-result-table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Playlist</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <table data-role="albums-result-table">
                        <thead>
                        <tr>
                            <th>Album</th>
                            <th>Number Files</th>
                            <th>Playlist</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <table data-role="artists-result-table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div data-role="search-debug">

                </div>
            </div>
        </div>
        <div class="sm-col sm-col-3 hidden" data-role="pane" data-pane="playlist">


            <select data-role="listPlaylists" class="block full-width mb1 field-light">
                <option></option>
            </select>

            <form id="savePlaylistForm" method="post">
                <h3>
                    <i data-role="stopPlaylist" class="icon ion-pause"> </i>
                    <i data-role="startPlaylist" class="icon ion-play"> </i>
                    <i data-role="previousPlaylist" class="icon ion-skip-backward"> </i>
                    <i data-role="nextPlaylist" class="icon ion-skip-forward"> </i>
                    <input data-role="playlistName" placeholder="Playlist name" name="playlistName" type="text"
                           class="field-light">
                    <button type="button" data-role="savePlaylist" class="button button-small right">Save</button>
                </h3>
                <table id="playlistTable" class="table-light">
                    <thead>
                    <tr>
                        <th>File</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/jquery.dynatable.js"></script>
<script src="/javascripts/video.js"></script>
<script src="/javascripts/videojs-overlay.js"></script>
<script src="/javascripts/piglet/index.js"></script>
